<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>
<body>
  <h1>Login</h1>
 <form action="/login" method="POST">
   <ul class="flex-container">
     <li>
       <label for="name" class="">Username</label>
       <input type="text" name="username" id="username">
     </li>
     <li>
       <label for="password" class="">Password</label>
       <input type="password" name="password" id="password">
     </li>
     <li>
       <input type="submit" value="Login">
     </li>
   </ul>
 </form>
<a href="/register">Register</a>
</body>
</html>
